<h1>Bienvenu chez VIPR !</h1>

<p>
    Pour finaliser votre inscription, suivez le lien : <br><br>
    <a href="{{ signedUrl }}">Confirmer mon email</a>.
    Ce lien expire dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    A bientôt !
</p>
