{% extends 'base.html.twig' %}

{% block title %}Page détail{% endblock %}

{% block body %}

    <div class="container my-5">
        <div class="row">
            {% for detail in details %}
                <div class="col-lg-8 col-sm-12 my-4 h-75">
                    <h2 class="text-uppercase fw-bold">{{ detail.title }} <span class="fw-normal">({{ detail.getReleaseDate|date("Y") }})</span></h2>

                    <h6 class="text-uppercase fw-bold my-3">Synopsis</h6>
                    <p>{{ detail.overview }}</p>

                </div>
                <div class="col-lg-3 col-sm-12 p-3">
                    <img src="https://image.tmdb.org/t/p/w500/{{ detail.getPosterPath }}" alt="Image" class="w-75 rounded-2">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
